# Copy to mobile-app/.env
# Required when testing on a PHYSICAL PHONE (not emulator).
# Use your computer's LAN IP from ipconfig (Windows) or ifconfig (Mac).

#EXPO_PUBLIC_API_URL=http://192.168.1.100:8000
EXPO_PUBLIC_API_URL=http://172.20.10.5:8000 # Aditi's PC's LAN IP